body{
    //background: url(../images/blur.jpg) no-repeat center center fixed;
    -webkit-text-size-adjust: 100%;
    background: #666;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	margin:0;
    padding:0;
	overflow:auto;
	z-index:0;
	width:auto;
    font-family: Lusitana,Poiret One;
    font-size: 30px;
}
p{
    font-size: 30px;
}
H1{
    font-weight: bold;
    font-size: 20px;
}
H3{
    font-size: 50px;
    font-weight:bold;
}

#menuicon  img{
    position:fixed;
    right:0px;
    top: 0px;
    width: 100px;
    cursor: pointer;
    z-index: 101;
}

#menudiv{
position:fixed;
top:0px;
right:0%;
width:72%;
height:100%;
padding:5% 2% 0% 2%;
box-shadow: 0px 0px 57px #000;
font-family: Poiret One;
background: rgba(255,255,255,.8);
z-index:100;
overflow:auto;
}
#namelogo{
color: grey;
cursor:pointer;
font-size:30px;
//font-weight:bold;
}

.menu{
font-size:25px;
cursor:pointer;
display:block;
background: black;
color:white;
margin-top:12px;
padding: 5px;
border-radius:15px;
width: 100%;
}

#namecard{
	height:100%;
    position:relative;
}
#statement{
    width:70%;
    position: absolute;
    left: 5%;
    bottom:5%;
    font-family: Waiting for the Sunrise;
    color: white;
}
#statement p{
    font-size: 20px;
}

#contact{
    background: rgba(5,5,5,.8);
    position: fixed;
    height:100%; 
    width:100%;
    color: white;
    text-align:center;    
    font-family: Poiret One; 
}
.intron, .exon{
  float:left;
  height:auto;
  width:100%;
  position:relative;
}
.intron{
display:none;
	height:10px;
}

.content{
    position:relative;
	width:95%;
    padding: 3%;
    margin:5% auto;
    background:rgba(255,255,255,1);
    box-shadow: 0px 0px 25px #000;
    border-radius:15px;
    color: black;
    font-family: Poiret One;   
}
.content p{
	padding:auto;
        font-size:32px;
}

/*
.subcontent{
    position: relative;
    left:-21%;
    margin:auto;
	width:42%;
	padding:2%; this is just merge
        background:black;
    box-shadow: 0px 0px 15px #000;
    color: #eee;
        font-size: 31;
    cursor: pointer;
}

.subright{
    left: 25%;
    text-align:right;
}
*/


