body{
    background: url(../images/blur.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	margin:0;
    padding:0;
	overflow:auto;
	z-index:0;
	width:auto;
    font-family: Lusitana,Poiret One;
}
a{
    color:white;
}
#menuicon  img{
    //background-color:red;
    position:fixed;
    right:0px;
    top: 0px;
    width: 50px;
    //height:50px;
    opacity: .5; 
    cursor: pointer;
    z-index: 100;
}
img:hover{
    opacity: 1;    
}
#menudiv{
position:fixed;
top:0px;
right:0%;
width:20%;
height:100%;
padding:5% 2% 0% 2%;
box-shadow: 0px -15px 50px #000;
font-family: Poiret One;
background: rgba(255,255,255,0.8);
z-index:100;
}
#namelogo{
color: grey;
cursor:pointer;
font-size: 5vw;
//font-weight:bold;
}
.menu, .prevSegButton, .nextSegButton{
display:inline-block;

font-size:4vh;
margin-bottom:1.5vh;
cursor:pointer;
color:#aaa;

}
.menu:hover{
    color:inherit;
    text-shadow: 5px 5px 5px #333;
}
.prevSegButton, .nextSegButton{
    font-size:3vh;
}
#namecard{
	height:100%;
    position:relative;
}

#statement{
    width:90%;
    position: absolute;
    left: 0%;
    bottom:0%;
    padding:0% 5% 0% 5%;
//font-family: Waiting for the Sunrise;
    font-size: 2vw;
    color: rgba(5,5,5,.8);
    //text-shadow: 1px 1px 2px #333;
    background:rgba(255,255,255,.3);
}

#contact{
    background: rgba(5,5,5,.8);
    position: fixed;
    height:100%; 
    width:100%;
    overflow: auto;
    color: white;
    font-size:1.5vw;
    text-align:center;    
    font-family: Poiret One; 
    z-index: 99;
}
.intron, .exon{
  float:left;
  height:auto;
  width:100%;
  position:relative;
}
.exon{
    box-shadow: 10px 0px 57px #000;
}
.intron{
	//box-shadow: 0px 0px 57px #000 inset;
	font-size:12;
	height:150px;
}
.overview{
    text-align: center;
}
.overview .content{
    height: 100%;
}
.content{
    width:80%;
    height:auto;
    padding: 10%;
    margin:0px;
  //margin:5% auto;
    background:rgba(45,45,49,.3);
//  box-shadow: 0px 0px 25px #000;
//    border-radius:5px;
    color: #efefef;
    position:relative;
	//bottom:-20;
    font-family: Poiret One;
    font-size:1.5vw;
}
.content p{
	padding:0 6% 6% 30%;
}
.content h1{
	//padding:15 0 0 15;
	font-weight:bold;
	//text-shadow:  5px 5px 6px #000;
}

.subcontent{
    position: relative;
    //width:42%;
    //left:-21%;
	//min-height:300px;
    margin:auto;

    width:88%;
	padding:2%; /*this is just merge*/
	background:rgba(15,15,15,.4);
    box-shadow: 0px 0px 15px #000;
    color: #eee;
    cursor: pointer;
    //border-radius:50%;
}
.subcontent p{
    padding: 0% 5% 6% 5%;
    position: relative;
    font-size: 1.5vw;
}
.subright{
    //left: 25%;
}
.subright h2{
    text-align:right;
}

.subcontent span{
   // background-color:red;
    display: inline-block;
    position:relative;
	width:45%;
    left:0px;

}
.subcontent table{
    width: 100%;
}

img{
   width:80%;
   margin-left:10%;
}
th{
	background:rgba(66,66,66,.6);
	color:white;
}
.subcontent td{
    width:50%;
    color:white;
    font-size: 1.5vw;
}

#educationintron{
    background: url(../images/commencement_clear.JPG) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	margin:0;
    padding:0;
}

#timeline{
    background: url(../images/commencement.JPG) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	margin:0;
    padding:0;
}
#genomeresSec .exon{
    background: url(../images/research2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	margin:0;
    padding:0;
}


#genomeresSec .intron{
    background: url(../images/research2_clear.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	margin:0;
    padding:0;
}

#teachingSec .exon{
    background: url(../images/teaching.JPG) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	margin:0;
    padding:0;
}
#teachingSec .intron{
    background: url(../images/teaching_clear.JPG) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	margin:0;
    padding:0;
}
#assaydevSec .exon{
    background: url(../images/virus.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	margin:0;
    padding:0;
}

#assaydevSec .intron{
    background: url(../images/virus_clear.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	margin:0;
    padding:0;
}


#bioinfoSec .exon{
    background: url(../images/coding_screen1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	margin:0;
    padding:0;
}
#bioinfoSec .intron{
    background: url(../images/coding_screen1_clear.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	margin:0;
    padding:0;
}
#virus{
    background: url(../images/virus.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
	margin:0;
    padding:0;
}

